// Colors
$grey-light: #f7f7f7;
$grey-dark: #f2f2f2;

// Style
body {
    color: rgb(38, 38, 38);
}

img {
    vertical-align: middle;
    border-style: none;
}

.bg-grey {
    background-color: $grey-light;
}

// Select all footer elements with class bg-class
footer.bg-dark {
    color: $grey-dark;
    a {
        color: $grey-dark;
        font-weight: 700;
    }
}


footer p {
    font-size: 0.75rem;
}

#header-viewport > section {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.block {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.block .card-title {
    font-weight: 700;
    color: black;
}

#blog-post-header {
    padding-top: 70px;
    margin-bottom: 50px;
}

.blog-post-header-author-img {
    height: 40px;
}

.cta-author-img {
    height: 75px;
}

.post-title {
    text-align: center;
    color: black;
}

.post-meta {
    font-size: 80%;
    font-weight: 400;
    text-align: center;
}

.post-extract {
    text-align: justify;
}


// Just to meet requirement on CS50w P0
#lead-header {
    @extend #blog-post-header;
}
// Just to meet requirement on CS50w P0
@media (max-width: 350px) {
    #blog-post-header {
        padding-top: 100px;
    }
}
